<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hafiz" translate="label" sortOrder="10">
            <label>Hafiz</label>
        </tab>
        <section id="product_disclaimer" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Disclaimer</label>
            <tab>hafiz</tab>
            <resource>Hafiz_Product::product_disclaimer_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="product_disclaimer_value" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Disclaimer</label>
                </field>
            </group>
        </section>
    </system>
</config>
